body {
  background-color: black;
  
}

.logo {
    width: 80px;
    margin-top: 20px;
    margin-left: 100px;
}


.first-nav  {
    margin-left:700px;
}

 a   {
    font-family: 'Amatic SC', cursive;
    margin: 30px 0 0 30px;
    font-size: 25px;
    text-decoration: none;
    color: white;
}

a:hover {
    color: red;
}

.main-nav  {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    color: white;
}

article,.main-pic  {
    width: 500px;
    display: block;
    margin: auto;
    margin-top: 40px;
}

figure img  {
    width: 500px;
    height: 500px;
}
figure {
    color: white;
}

figcaption  {
    width: 500px;
  
}

.selfie, figcaption  {
    display: block;
    margin: 10px auto;
}

h1  {
    text-align: center;
    color: white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 30px auto;
}

.slideshow-container img  {
    width: 500px;
    display: block;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
#slide1 {display:block}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: darkgray;
  font-weight: bold;
  font-size: 29px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  
  width: 100%;
  text-align: center;
}



.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

p {
    width: 50%;
    color: white;
    font-size: 1.3em;
    margin: 40px 40px 1px 10px;
    padding: 1px 10px 0 10px;
    float: right;
}

.portrait  {
    float: left;
    margin: 2em 0 0 3em;
}

.portrait1  {
    float: left;
    width: 500px;
    margin: 1em 0 0 5em;
}

p .about  {
    margin: -.3em 0 -15em 0;
    padding: 0 0 15em 0;
   
}

main p  {
    padding: 0 0 10em 0;
    background-image: url(../images/bWoilRig.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.bigshot img:hover  {
    width: 600px;
    min-height: 600px;
    transition: width 2s;
}


section p {
    float: none;
    text-align: center;
    margin: auto;
    margin-top: 5em;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
    
}


.music {
    min-height: 500px;
}

h2, h3  {
    text-align: center;
    color: white;
    font-family: 'Amatic SC', cursive;
}

/* This is the div on the music page */
aside  {
    clear: both;
    width: 50%;
    color: white;
    margin: 10em 0 10em 6em;
    
    
}

h5#scroll  {
    clear: both;
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding-top: 5em;
}

ul  {
    color: white;
    font-size: 2em;
    float: right;
    margin: 5em 10em 0 2em;
}

.edpic  {
    margin: 2em;
}

@media (max-width: 1450px) {
    header  {
        display: flex;
        justify-content: space-between;
    }
    .first-nav  {
        margin: auto 0 0 2em;
        padding: .5em;
    }
    .main-nav, a {
        padding: .5em;
        margin: auto 0 0 0;
    }
    
    
    .portrait1 {
        display: block;
        height: 400px;
        width: 300px;
        margin: 2em 0 0 10em;
    }
    .about, p {
        height: 200px;
        width: 500px;
        font-size: 1em;
        background-image: none;
    }
    .about  {
        margin: 2em 10em;
    }
    article .main-pic {
        height: 400px;
        width: 400px;        
    }
    .portrait  {
        margin: 3em 0 0 6em;
    }
    main p, .music  {
        min-height: 300px;
     }
    aside {
        width: auto;
        margin: auto 0 0 2em;
    }
    main .edpic  {
        width: 300px;
        margin: 2em 5em;
    }
    ul  {
        font-size: 1em;
        margin: 10em 25em 0 0 ;
    }
}

@media (max-width: 400px) {
    .main-nav  {
        display: block;
        
    }
    
    .logo  {
        width: 100%;
        margin: auto;
        margin: 0 0 10em 0;
    }
    
    .main-nav a  {
        display: block;
        text-align: center;
    }
    
    .first-nav  {
        margin: auto;
    }
    article {
        display: inline-block;
        width: auto;  
    }
    
    article .main-pic  {
        width: 100%;
        
    }
    img,.portrait1  {
        float: none;
        margin: auto;
    }
    .about {
        margin: auto;
        width: auto;
        text-align: center;
    }
    
    li  {
        text-align: left;
    }
    
    .slideshow-container img  {
        width: 100%;
    }
     .bigshot img:hover  {
    width:100%;
    min-height: auto;
    transition: width 2s;
    }
    
    section p  {
        width: auto;
        margin: 0;
    }
    
    #scroll  {
        display: none;
    }
    
    main  {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    main .portrait  {
        margin: 0;
        width: 100%;
    }
    
    main p  {
        width: 100%;
        margin: 0 0 10em;
        text-align: center;
    }
    }